@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,400&family=Poppins:ital,wght@1,300;1,400&family=Protest+Riot&family=Ubuntu:ital@1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #2e3a44;
}

/* App.jsx */
#headerText {
  font-family: "Ubuntu";
}
